[defaults]
# Indicamos dónde están los roles (un nivel arriba)
roles_path = ../roles
inventory = ./inventory.ini
remote_user = ec2-user
# Silence python message
interpreter_python = auto_silent

# Desactivamos la revisión de host_key para evitar bloqueos en el primer despliegue
host_key_checking = False

# Tiempo de espera para conexiones
timeout = 15

[ssh_connection]
# El "Santo Grial" para pasar por el Bastion de forma eficiente
# ControlMaster permite reutilizar una sola conexión SSH para múltiples tareas (mucho más rápido)
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ProxyCommand="ssh -W %h:%p -q ec2-user@18.223.196.201"
